:host {
  font-family: "Lexend Deca", sans-serif;
}
h1 {
  color: #fec9f1;
  text-shadow: 1px 1px #b486ab;
}

.items {
  border: 2px solid #b486ab;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  background-color: #fec9f1;
}

.cart {
  display: flex;
  justify-content: space-between;
}
